
//position
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

//width
.w-100 {width: 100%;}
.w-75 {width: 75%;}
.w-50 {width: 50%;}
.w-25 {width: 25%;}

.wpx-100 {width: 100px;}
.wpx-200 {width: 200px;}
.wpx-300 {width: 300px;}
.wpx-400 {width: 400px;}
.wpx-500 {width: 500px;}

//height
.h-100 {height: 100%;}
.h-75 {height: 75%;}
.h-50 {height: 50%;}
.h-25 {height: 25%;}

.hpx-100 {height: 100px;}
.hpx-200 {height: 200px;}
.hpx-300 {height: 300px;}
.hpx-400 {height: 400px;}
.hpx-500 {height: 500px;}

//flex 
.flex {display: flex;}
.flex-wrap {flex-wrap: wrap;}
.justify-center {justify-content: center;}
.justify-space-around {justify-content: space-around;}
.justify-space-between {justify-content: space-between;}
.flex-reverse {flex-direction: row-reverse;}