.page-title {
    font-size: 1.5rem;
    color: $purple-med;
}

.text-purple {
    color: $purple-med;
}
.text-blue {
    color: $blue-med;
}
.text-green {
    color: $green-med;
}
.text-white {
    color: $white;
}
.text-black {
    color: $black;
}