@import "./variables/main.scss";
@import "./components/main.scss";
@import "./generic/main.scss";

@import './rpg-awesome/scss/_variables.scss';
$ra-font-path: './rpg-awesome/fonts/';
@import './rpg-awesome/scss/rpg-awesome.scss';

body {
    background-color: $blue-bright;
    margin: 0;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}

a {
    text-decoration: none;
    color: $purple-med;
    &:visited {
        color: $purple-med;
    }
}