@import "./variables/main.scss";
@import "./components/main.scss";
@import "./generic/main.scss";
@import "./pages/main.scss";
@import "./fonts.scss";

@import './rpg-awesome/scss/_variables.scss';
$ra-font-path: './rpg-awesome/fonts/';
@import './rpg-awesome/scss/rpg-awesome.scss';

@import "./tippy.css";
@import "./sweet-progress.css";

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html {
    font-size: 16px;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 400;
    @media only screen and (min-width: 768px) {
        font-size: 20px;
    }
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    background: linear-gradient(210deg, $blue-dark, $blue-light);
    background-size: 200% 100%;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 15%}
        50%{background-position:100% 86%}
        100%{background-position:0% 15%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 15%}
        50%{background-position:100% 86%}
        100%{background-position:0% 15%}
    }
    @keyframes AnimationName { 
        0%{background-position:0% 15%}
        50%{background-position:100% 86%}
        100%{background-position:0% 15%}
    }
}

a {
    text-decoration: none;
}