{
    "presets": [
        // "stage-0",
        // "react"
    ],
    "plugins": [
        "syntax-async-functions",
        "syntax-dynamic-import",
        // "transform-react-constant-elements",
        // "transform-react-remove-prop-types",
        // "transform-react-inline-elements"
    ],
    "env": {
        "test": {
            "plugins": [
                "dynamic-import-node"
            ]
        }
    }
}