

.lobby {
    height: 100%;
    width: 100%;
    padding: 1rem;
    
    &__content {
        height: 100%;
        width: 100%;
        
    }
    &-entry {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 2rem;
        width: 100%;

        margin-bottom: 0.5rem;
        padding: 0.25rem 0rem;

        border-radius: 0.25rem;
        border: none;
        background-color: $white;

        &--title {
            font-weight: 600;
            color: $blue-med;
            margin-left: 1rem;
        }
        &--info {
            border-radius: 50%;
            color: $white;
            background-color: $blue-dark;
            text-align: center;
            height: 100%;
            font-size: 1.2rem;
        }

        .btn {
            margin: 0;
            font-weight: 600;
            font-size: 1.2rem;
            margin-top: auto;
            margin-bottom: auto;
            height: 1.5rem;

            &:active {
                outline: none;
            }
            &-challenge {
                border: 0.125rem solid $green-light;
                border-radius: 0.25rem;
                background: none;
                color: $green-med;
            }
            &-cancel {
                border: none;
                background: none;
                color: $grey-dark;
            }
        }
    }
}

.mobile-nav {
    position: fixed;
    top: calc(100% - 4.5rem);
    z-index: 100;
    
    height: 4.5rem;
    width: 100%;
    display: flex;
    
    background-color: $white;
    
    &--section {
        color: $grey-med;
        font-size: 3rem;
        text-align: center;
        
        position: relative;
        height: 100%;
        width: 100%;
        margin : {
            top: 0.5rem;
            left: auto;
            right: auto;
        }
        padding {
            top: 1rem;
            bottom: 0.5rem;
        }
        border-top: 0px;

        transition: margin 0.3s ease-in-out;
        
        &.selected {
            color: $grey-dark;
            margin-top: auto;
            transition: border-width 0.3s ease-in-out;
            border-top: 0.5rem solid $orange-bright;
        }
        .ra {

        }
    }
}

.page-title {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
}