

.lobby {
    height: calc(100% - 3rem);
    width: 100%;
    padding: {
        left: 1rem;
        right: 1rem;
    }
    // margin-top: 
    
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    
    &__content {
        height: 100%;
        width: 100%;
    }
    &-entry {
        display: flex;
        justify-content: space-around;
        align-items: center;

        height: 2rem;
        width: 100%;

        margin-bottom: 0.5rem;
        padding: 0.5rem;

        border-radius: 0.25rem;
        border: none;
        background-color: $white;

        &--title {
            font-weight: 600;
            color: $blue-med;
            width: 100%;
        }
        &--info {
            .ra {
                border-radius: 50%;
                color: $white;
                background-color: $grey-dark;
                height: 100%;
                width: 1.5rem;
                font-size: 1.5rem;
            }
            text-align: center;
            padding-right: 1rem;
        }
        &--btn {
            width: 100%;
        }

        .btn {
            margin: 0;
            font-weight: 600;
            font-size: 1.2rem;
            margin: auto;
            height: 1.5rem;

            width: 100%;

            &:active, &:focus {
                outline: none;
            }
            &-challenge {
                border: 0.125rem solid $green-light;
                border-radius: 0.25rem;
                background: none;
                color: $green-med;
            }
            &-cancel {
                border: none;
                background: none;
                color: $grey-dark;
            }
        }
    }
}

@-webkit-keyframes slide {
    100% { left: 0 }
}

@keyframes slide {
    100% { left: 0 }
}

.game-requests {
    // z-index: -1;
    position: fixed;
    width: 0%;
    margin-left: 0;
    padding: {
        top: 0.5rem;
        bottom: 0.5rem;
    }
    z-index: 0;

    top: calc(0% + 5rem);
    height: calc(100% - 7rem - 5rem);

    display: flex;
    flex-flow: column-reverse nowrap;

    .game-request--item--container:nth-child(n) {
        margin-left: calc((1rem * n) + 1rem);
    }
    .game-request {
    
        &--item {
            &--container {
                position: absolute;
                left: calc(100vw + 2rem);
                
                transition: 2s;
                animation: slide 0.5s forwards;
                animation-delay: 0.5s;
                margin-top: 0.5rem;
                
            }
            box-shadow: -0.15rem 0.15rem 0.15rem 0.1rem fade-out($grey-dark, 0.5);
            position: relative;
            z-index: 1000;
            width: 100%;
            border: none;
            border-radius: 0.5rem;
            padding: 0.5rem;
            background-color: $white;

        }
        &--text {
            font-size: 1rem;
            font-weight: 400;
            color: $grey-dark;
            display: inline-block;
        }
        &--title {
            font-size: 1rem;
            font-weight: 700;
            color: $blue-dark;
        }
        &--btns {
            display: flex;
            justify-content: space-around;

            .btn {
                width: 100%;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                font-weight: 600;
                font-size: 1.2rem;
                &-decline {
                    border: none;
                    background: none;
                    color: $grey-dark
                }
                &-accept {
                    background-color: $orange-med;
                    color: $white;
                    border-radius: 0.25rem;
                    border: none;
                }
            }
        }
    }
}

.mobile-nav {
    position: fixed;
    top: calc(100% - 4.5rem);
    z-index: 100;
    
    height: 4.5rem;
    width: 100%;
    display: flex;
    
    background-color: $white;
    
    &--section {
        color: $grey-med;
        font-size: 3rem;
        text-align: center;
        
        position: relative;
        height: 100%;
        width: 100%;
        margin : {
            top: 0.5rem;
            left: auto;
            right: auto;
        }
        padding {
            top: 1rem;
            bottom: 0.5rem;
        }
        border-top: 0px;

        transition: margin 0.3s ease-in-out;
        
        &.selected {
            color: $grey-dark;
            margin-top: auto;
            transition: border-width 0.3s ease-in-out;
            border-top: 0.5rem solid $orange-bright;
        }
        .ra {

        }
    }
}

.page-title {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: 2rem;
}