

.welcome-page {
    padding: 2rem 1rem;
}

.form {
    height: auto;
    width: auto;

    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    label {
        text-align: left;
        font-size: 1rem;
        color: $white;
        margin-left: 1rem;
    }

    input[type="text"], input[type="password"] {
        height: 3rem;
        width: 100%;
        max-width: 600px;
        border-radius: 1rem;
        font-size: 1.5rem;
        color: $white;

        margin-left: auto;
        margin-right: auto;

        padding-left: 1rem;
        box-shadow: inset 0 0 0.5rem $blue-light;
        padding: 0.5rem 1rem;
        background: none;
        border: none;
        // border: 0.125rem solid $white;
        &:hover {
            box-shadow: inset 0 0 0.8rem $blue-bright;
        }
        &:focus {
            box-shadow: 0 0 0.8rem $blue-bright;
            outline: none;
        }
        &::placeholder {
            color: $white;
            opacity: 0.8;
            font-weight: 400;
        }
    }


    input[type="submit"] {
        $input-height: 3.5rem;

        width: 100%;
        max-width: 600px;
        margin-top: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;

        font-size: 1.5rem;
        text-align: center;
        height: $input-height;

        background-color: $orange-light;
        color: $white;

        border-radius: 1rem;
        border: none;
        font-weight: 700;

        box-shadow: inset 0 0 0.5rem $orange-med;
        transition: opacity 0.2s ease-in-out;

        &:hover {
            opacity: 0.8;
        }
        &:active {
            opacity: 1;
            box-shadow: inset 0 0 1rem $orange-dark;
            outline: none;
        }
        &:focus {
            outline: none;
        }
    }

    .info-text {
        margin-top: 1rem;
        color: $white;
        a {
            clear: left;
            color: white;
            font-weight: 600;
            cursor: pointer;

            &:hover {
                color: $blue-bright;
            }
        }

    }

}