.enemy-character {
    width: 100%;
    padding: 0.5rem;
    // height: 5rem;
    $light: $red-light;
    $bright: $red-bright;

    background-color: fade-out($light, 0.8);
    $portraitSize: 125px;
    box-shadow: 0 0.05rem 4rem $bright;


    &-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: calc($portraitSize + 2rem);
        height: $portraitSize;
    }
    .portrait-container {
        margin-left: 0.5rem;
        margin-right: auto;
        width: $portraitSize;
        position: relative;
        .name-bar {
            cursor: pointer;
            width: 125px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            position: absolute;
            border-radius: 0.5rem;
            bottom: 0rem;
            z-index: 1000;

            background-color: $grey-bright;
            border-radius: 0.5rem;
            border: none;

            &--text {
                position: relative;
                font-size: 1rem;
                font-weight: 600;
                color: $grey-dark;
                transition: color 0.2s ease-in-out;
            }
        }
        .portrait {
            position: relative;
            height: 125px;
            width: 125px;
            border-radius: 50%;
            background-color: $grey-bright;
            padding: 5%;
            transition: background-color 0.2s ease-in-out;
            
            &--inner {
                width: 90%;
                height: 90%;
                margin: 5%;
                background-color: $white;
                border-radius: 50%;
                text-align: center;
                padding-top: 5%;
                .class-icon {
                    // height: 90%;
                    font-size: 5rem;
                }
            }
        }
    }

    .info-container {
        width: 100%;
        max-width: 70vw;
        height: 100%;
        margin-left: 2rem;
        margin-right: auto;

        .progress {
            height: 1.5rem;
            margin-top: 0.5rem;
            margin-left: auto;
            margin-right: auto;
            .progress-bar {
                font-size: 0rem;
                line-height: 100%;
                &:hover {
                    font-size: 1.5rem;
                    color: $black;
                }
            }
        }
    }

    .stats-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: fade-out($blue-bright, 0.8);
        margin-top: 0.5rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        border-radius: 0.25rem;

        font-size: 1.2rem;
    }   

    .active-healthbar {
        width: 100%;
        margin-bottom: 0.5rem;
        // margin: auto 0.5rem;
        .progress {
            height: 2rem;
            .progress-bar {
                color: $black;
                font-size: 2rem;
                line-height: 100%;
            }
            margin: auto;
        }
    }
}