//shades
$white: #E2E2E2;
$black: #3A3A3A;

//greys
$grey-med: #828489;

//blues
$blue-dark: #2540C6;
$blue-med: #546FF2;
$blue-light: #41ADD8;
$blue-bright: #72DDF7;

$fade-blue-dark: #23395B;
$fade-blue-med: #406E8E;
$fade-blue-light: #809BCE;
$fade-blue-bright: #8EA8C3;


//purple
$purple-dark: #640CD6;
$purple-med: #9C6ADD;
$purple-light: #B388EB;
$purple-bright: #8357DB;

$purple-fade-dark: #631A86;
$purple-fade-med: #6247AA;
$purple-fade-light: #A06CD5;
$purple-fade-bright: #E2CFEA;

//orange
$orange-dark: #640CD6;
$orange-med: #F96300;
$orange-light: #EF7307;
$orange-bright: #FF810C;

//greens
$green-dark: #6A7000;
$green-med: #7E8412;
$green-light: #91972A;
$green-bright: #AAAF3D;

$green-fade-dark: #205632;
$green-fade-med: #245B28;
$green-fade-light: #63A088;
$green-fade-bright: #CFFFB3;
