$red: red;

//shades
$white: #fff;
$black: #333;

//greys
$grey-med: #828489;

//blues
$blue-dark: #23395B;
$blue-med: #406E8E;
$blue-light: #809BCE;
$blue-bright: #8EA8C3;

//purple
$purple-dark: #631A86;
$purple-med: #6247AA;
$purple-light: #A06CD5;
$purple-bright: #E2CFEA;

//greens
$green-dark: #205632;
$green-med: #245B28;
$green-light: #63A088;
$green-bright: #CFFFB3;
