.character-preview {
    height: calc(100% - 3rem);
    width: 100%;
    padding: {
        left: 1rem;
        right: 1rem;
    }
    // margin-top: 
    
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    &--core {
        // height: 100px;
        display:flex;
        justify-content: space-between;
        height: 7rem; 
        // padding-bottom: 1rem;
        // border-bottom: 0.125rem dotted $blue-bright;
        &-text {
            margin-top: auto;
            margin-left: 1rem;
            min-height: 150px;
            font-size: 1rem;
            font-weight: 500;
            background-color: $blue-light;
            border: 0.125rem solid $blue-bright;
            border-radius: 0.5rem;
            padding: 0.5rem;

            .bold {
                font-weight: 600;
            }
        }
        &-profile {
            $width: 200px;
            width: $width;
            position: relative;
            .name-bar {
                cursor: pointer;
                width: 150px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                position: absolute;
                border-radius: 0.5rem;
                bottom: -0.5rem;
                z-index: 1000;
                &--text {
                    position: relative;
                    font-size: 1rem;
                    font-weight: 600;
                    color: $grey-dark;
                    transition: color 0.2s ease-in-out;
                }
            }
            .portrait {
                position: relative;
                height: 150px;
                width: 150px;
                border-radius: 50%;
                background-color: $grey-bright;
                padding: 5%;
                transition: background-color 0.2s ease-in-out;
                
                &--inner {
                    width: 90%;
                    height: 90%;
                    margin: 5%;
                    background-color: $white;
                    border-radius: 50%;
                    text-align: center;
                    padding-top: 5%;
                    .class-icon {
                        // height: 90%;
                        font-size: 5rem;
                    }
                }
            }
        }
    }
    &--second {
        position: relative;
        margin-top: calc(50px + 2rem);
    }
    &--description {
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1rem;
        font-weight: 500;
        background-color: $blue-light;
        border: 0.125rem solid $blue-bright;
        border-radius: 0.5rem;
        padding: 0.5rem;
        color: $grey-dark;

        .title {
            text-align: left;
            clear: none;
            font-weight: 600;
        }
    }
}