$maxHeight: 200px;

.game-character {
    &--container {
        width: 100%;
        max-height: $maxHeight;
        display: flex;
        justify-content: space-evenly;
    }

    &--portrait-container {
        width: 50%;
    }
    &--portrait {
        width: 100%;
        min-width: 100px;
        min-height: 100px;
        max-height: $maxHeight;
    }
    &--stats {
        width: 50%;
        border: 0.25rem $blue-dark;
        border-radius: 0.5rem;
        .left {
            float: left;
        }

        .right {
            float: right;
        }
    }


}

.character-stats {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
}