.game-log {
    &--container {
        width: 500px;
        height: 100%;
        background-color: $blue-med;
    }
    &--screen {
        width: calc(100% - 1rem);
        height: calc(100% - 1rem);
        margin: 0.5rem;
        background-color: $white;
        overflow-y: scroll;
    }
    &--message {
        margin-top: 0.125rem;
        font-size: 0.8rem;
        word-wrap: normal;
    }
}

.extra-bold {
    margin-top: 0.5rem;
    text-decoration: underline;
    font-weight: 800;
    font-size: 1.3rem;
}
.bold {
    margin-top: 0.25rem;
    font-weight: 600;
    font-size: 1rem;
}
.game-screen--container {
    width: 100%;
}

.game--container {
    display: flex;
}