@import "bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";
@import "bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "bootstrap-sass/assets/stylesheets/bootstrap/_progress-bars.scss";

.progress {
    margin-bottom: 0;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    
    font-size: 0.8rem;
}