.navbar {
    width: 100%;
    box-shadow: 0 0.125rem .125rem $purple-bright;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;

    h1, h2, h3, h4, h5, h6, p, a {
        margin-top: auto;
        margin-bottom: auto;
    }

    &__container {
    
        padding: 0.5rem;
        max-height: 2rem;
    
        display: flex;

        justify-content: space-around;
        background-color: $grey-light;
    
    }

    &__right {
        align-self: center;
        padding: .25rem;
    }
    &__title {
        text-decoration: none;
        margin: 0;
        font-size: 1.5rem;
        color: $purple-light;
        font-weight: 700;
        &:hover {
            color: $purple-med;
        }
    }
}