.navbar {
    width: 100%;
    // box-shadow: 0 0.125rem .125rem $purple-bright;
    height: 3rem;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    padding: {
        top: 0.5rem;
        left: 0.5rem;
        right: 0.5rem;
    }

    &--container {
        position: relative;
        display: flex;
        justify-content: center ;
        width: 100%;
        height: 100%;
    }

    a, p {
        margin-top: auto;
        margin-bottom: auto;
        vertical-align: middle;
        width: 100%;
        clear: both;
    }

    .game-title {
        font-size: 2rem;
        opacity: 1;
    }
}

.nav-helper {
    margin-top: 3rem;
    margin-bottom: calc(10rem + 2.5rem);
    height: calc(100% - 12.5rem - 3rem);
    width: 100%;
}

.lfg {
    position: fixed;
    height: 10rem;
    width: 100%;
    z-index: 100;
    top: calc(100% - 4.5rem - 2rem);
    background-color: fade-out($white, 0.3);
    
    transition: top 0.3s ease-in-out;

    .lfg-arrow {
        cursor: pointer;
        margin-bottom: 0.25rem;
        background-color: fade-out($white, 0.8);
        height: 2.5rem;
        
        width: 100%;
        cursor: pointer;
    }
    .lfg-content {
        border-top: 0.125rem solid $white;
        padding-top: 0.125rem;

        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 2rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        
        .lfg-btn {
            height: 2.5rem;
            padding: 0.5rem;
            margin-top: 1rem;
            margin-left: auto;
            margin-right: auto;

            font-size: 1.5rem;
            text-align: center;
            font-weight: 700;

            background-color: $orange-light;
            color: $white;

            border-radius: 1rem;
            border: none;

            box-shadow: inset 0 0 0.5rem $orange-med;
            transition: opacity 0.2s ease-in-out;

            font-family: 'Slackey', cursive;
            letter-spacing: 0.1rem;

            &:hover {
                opacity: 0.8;
            }
            &:active {
                opacity: 1;
                box-shadow: inset 0 0 1rem $orange-dark;
                outline: none;
            }
            &:focus {
                outline: none;
            }

            
        }

        .lfg-cancel {
            // width: 50%;
            height: 2.5rem;
            margin-top: 1rem;

            margin-left: auto;
            margin-right: auto;

            text-align: center;
            font-size: 1.5rem;
            font-weight: 400;
            text-transform: uppercase;

            background: none;
            color: $black;

            border-radius: 1rem;
            border: none;


            font-family: 'Slackey', cursive;
            letter-spacing: 0.1rem;

            &:hover {
                border: 0.125rem dotted $black;
            }
            &:active {
                box-shadow: inset 0 0 0.125rem $white;
            }
            &:focus {
                outline: none;
            }

        }
    }
    &.is-open {
        top: calc(100% - 4.5rem - 10rem);

        .lfg-arrow {

        }
    }
    
    
}