.character-roster {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    margin-bottom: 6rem;
    // height: 100%;

    &--item {
        $width: 128px;
        margin: 0.5rem 0.25rem 1.5rem 0.25rem;
        width: $width;
        height: auto;
        transition: opacity 0.2s ease-in-out;
        position: relative;
        &.disabled {
            opacity: 0.5;
        }
        &.selected {
            opacity: 1;
            .portrait, .name-bar {
                background-color: $orange-med;
                .name-bar--text {
                    color: $white;
                }
            }
        }
        .portrait {
            &:focus {
                outline: none;
            }
            position: relative;
            height: $width;
            width: $width;
            border-radius: 50%;
            background-color: $grey-bright;
            padding: 5%;
            transition: background-color 0.2s ease-in-out;
            
            &--inner {
                width: 90%;
                height: 90%;
                margin: 5%;
                background-color: $white;
                border-radius: 50%;

            }
        }

        .info-icons {
            position: absolute;
            bottom: -0.75rem;
            width: $width;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .info-icon {
                position: relative;
                width: 3rem;
                height: 3rem;
                padding-top: 0.125rem;
                text-align: center;
                
                border: 0.1rem solid $white;
                border-radius: 50%;
                background-color: $blue-dark;
                &:active {
                    color: $blue-light;
                    border-color: $blue-light;
                }
                .ra {
                    color: $white;
                    text-align: center;
                    position: relative;   
                    font-size: 2.5rem;
                }
                &.play{
                    background-color: $white;
                    border-color: $green-bright;
                    transition: opacity 0.2s ease-in-out;
                    .ra {
                        color: $green-bright;
                        transition: color 0.2s ease-in-out;
                    }
                }
                &.disabled {
                    border-color: $grey-bright;
                    color: $grey-bright;
                    background-color: $white;
                    opacity: 0.5;
                }
                &.remove {
                    color: red;
                    border-color: red;
                }
            }
        }
        
        .name-bar {
            cursor: pointer;
            width: $width;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            position: absolute;
            border-radius: 0.5rem;
            top: -0.5rem;
            z-index:1000;
            background-color: $grey-bright;
            transition: background-color 0.2s ease-in-out;
            &--text {
                position: relative;
                font-size: 1rem;
                font-weight: 600;
                color: $grey-dark;
                transition: color 0.2s ease-in-out;
            }
        }
    }
}