.team-bar {
    display: flex;
    justify-content: space-around;
    border: 0.25rem $green-med;
    border-radius: 0.5rem;


    .team-member {
        min-width: 100px;
        height: 100px;
        font-size: 2rem;

        &--image {
            margin-left: auto;
            margin-right: auto;
            max-height: 70px;
        }
        &--name {
            text-align: center;
            font-size: 0.8rem;
            margin: 0;
        }
        &--btn {
            display: block;
        }
    }
}